@font-face {
    font-family: 'SquareCaps';
    src: url(./fonts/SquareCaps.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #000000, #333333);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5B4636;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.quest-log-container {
    position: relative;
    border: 0.5px solid gray;
    display: flex;
    width: 800px;
    height: 500px;
    z-index: 2;
}

.quest-log-container::before {
    position: absolute;
    content: "";
    background: url(./images/gold-border.jpg);
    filter: brightness(120%);
    background-size: cover;
    height: 103%;
    width: 102%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quest-log-left {
    display: flex;
    flex: 1;
    background-image: url(./images/page-texture-left.jpg);
    background-size: cover;
    box-shadow: inset -1px -1px 10px rgba(128, 128, 128, 0.586);
    padding: 10px 10px 20px 10px;
}

.quest-log-right {
    position: relative;
    display: flex;
    flex: 1;
    background-image: url(./images/page-texture-right.jpg);
    background-size: cover;
    border-left: 0.5px solid black;
    box-shadow: inset 1px 1px 10px rgba(128, 128, 128, 0.586);
    padding: 10px 10px 0px 10px;
}

textarea {
    background-color: transparent;
    width: 100%;
    height: 429px;
    border: none;
    padding: 10px 0px 10px 0px;
    resize: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #30302f;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
}

.quests-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
}

.quest-details-container {
    flex: 1;
    margin: 20px;
}

.quest-details-container > h2 {
    margin-bottom: 8px;
}

.input-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}

.input-field {
    line-height: 25px;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    background: none;
    border: none;
    border-bottom: 1px solid brown;
}

.submit-btn {
    top: 47.5px;
    height: 30px;
    right: 0px;
    padding: 4px 9px;
    background-color: #A58770;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 2px #333, 0 0 3px #333;
    border: 2px solid gold;
}

input[type="text"] {
    font-style: italic;
    opacity: 0.8;
}

input[type="checkbox"] {
    margin-right: 15px;
    accent-color: green;
}

.list-container {
    flex: 1;
    overflow-y: auto;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    padding-right: 13px;
}

.list-item {
    position: relative;
    display: flex;
    margin: 5px auto;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 2px 0px;
}

.selected-quest {
    background: linear-gradient(
        to right,
        rgba(255, 217, 0, 0),
        rgba(158, 117, 87, 0.836) 7%,
        rgba(158, 117, 87, 0.623) 85%,
        rgba(158, 117, 87, 0) 100%
        );
    color: white;
    text-shadow: 1px 1px 1px #333;
}

.list-item:hover {
    backdrop-filter: brightness(95%);
}

.bookmark {
    height: 16px;
    cursor: pointer;
}

.deadline-clock-img {
    height: 18.5px;
    padding: 0;
}

.bookmarked-div {
    display: none;
    position: absolute;
    height: 150px;
    width: 150px;
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 0, 100% 40%, 40% 100%, 0% 100%);
    background: url(./images/bookmark-texture.jpg);
    background-size: cover;
    filter: brightness(150%);
}

.icons {
    display: flex;
    margin-left: auto;
    padding-left: 8px;
    align-items: center;
    gap: 8px;
    text-shadow: none;
}

.delete-btn {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

.checked {
    opacity: 40%;
}

.checked p:not(.delete-btn) {
    text-decoration: line-through;
}

.weapons-img {
    position: absolute;
    width: 565px;
    top: -33px;
    right: -200px;
    transform: rotate(90deg);
    z-index: -2;
}

.laurel-img {
    position: absolute;
    height: 300px;
    left: -165px;
    bottom: 95px;
    transform: rotate(-140deg);
    z-index: -2;
}

.banner-img {
    top: -130px;
    left: -140px;
    height: 300px;
    position: absolute;
    z-index: -2;
}

.banner-overlay-img {
    top: -60px;
    left: -36px;
    height: 77px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.37));
    position: absolute;
}

.dragon-wing-img {
    position: absolute;
    top: -240px;
    right: -180px;
    transform: rotate(30deg);
    z-index: -3;
}

.trumpets-img {
    position: absolute;
    z-index: -3;
    left: 145px;
    bottom: -110px;
    transform: rotate(3.5deg);
}

.filigree {
    position: absolute;
    height: 400px;
    top: -204px;
    left: 201px;
    filter: brightness(1.2);
    z-index: -1;
}

.shield-img {
    position: absolute;
    height: 200px;
    bottom: 18px;
    right: 0;
    filter: saturate(500%);
    opacity: 5%;
}

.square-caps {
    font-family: 'SquareCaps';
    font-size: 3rem;
    font-weight: 100;
    line-height: 0;
}

.flatpickr-style {
    background: none;
    border: none;
    padding-left: 5px;
    margin-bottom: 5px;
    width: 180px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

.hide-element {
    display: none;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.deadline-clear-btn {
    border: none;
    font-style: italic;
    color: red;
    background-color: none;
    padding: 0px 5px;
    cursor: pointer;
}

.urgent {
    color: red;
}

.urgent.selected-quest {
    color: #fff;
    background: linear-gradient(
        to right,
        rgba(255, 217, 0, 0),
        rgba(202, 23, 23, 0.836) 7%,
        rgba(202, 23, 23, 0.493) 85%,
        rgba(158, 117, 87, 0) 100%
        );
}

.selected-quest .deadline-clock-img {
    filter: grayscale(2)
        brightness(800%)
        drop-shadow(1px 1px 1px #000);
}